---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="w-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <h1 class="text-9xl">404</h1>
        <h1 class="w-full text-2xl sm:text-4xl md:text-5xl lg:text-7xl text-center">Page Not Found</h1>    
        <a href="/">go home</a>
    </div>
</BaseLayout>