---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
    <main>
        <h1 class="text-4xl mb-5">Hi, I'm Ali</h1>
        <p class="">
            Backend developer who is passionate about programming and solving
            real world problems
        </p>
		</main>
</BaseLayout>
