---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout>
    <h1>Projects Here</h1>
    <span>0</span>
    <button data-increment class="self-start">increment</button>
</BaseLayout>

<script type="module">
    const button = document.querySelector("[data-increment]")
    const number = document.querySelector("span")
    
    button.addEventListener("click", () => {
        let num = +number.innerText
        num += 1
        number.innerHTML = num

    })
</script>