---
const today = new Date();
import { Icon } from 'astro-icon/components'

const { classes } = Astro.props
---

<footer class:list={classes}>
	<div class="flex items-center">
		<a class="flex" href="https://twitter.com/jabrayilzadeali" target="_blank">
			<span class="sr-only">Follow Jabrayilzade Ali on Twitter</span>
			<Icon name="x" width={18} height={18} />
			<!-- <span>X</span> -->
		</a>
		<Icon name="slash" width={30} height={45} />
		<a class="flex" href="https://github.com/jabrayilzadeali" target="_blank">
			<span class="sr-only">Go to Jabrayilzade Ali's GitHub profile</span>
			<Icon name="github" width={25} height={25} />
			<!-- <span>Github</span> -->
		</a>
		<Icon name="slash" width={30} height={45} />
		<a class="flex" href="https://www.linkedin.com/in/jabrayilzadeali/" target="_blank">
			<span class="sr-only">Go to Jabrayilzade Ali's Linkedin profile</span>
			<Icon name="linkedin" width={25} height={25} />
			<!-- <span>Github</span> -->
		</a>
	</div>
	<span>&copy; {today.getFullYear()} Jabrayilzade Ali. All rights reserved.</span>
</footer>