---
import HeaderLink from './HeaderLink.astro';
import { Icon } from 'astro-icon/components'

const { title, classes } = Astro.props
---

<header class:list={classes}>
	<nav class="flex justify-between">
		<h2><a class="" href="/">{title}</a></h2>
		<div class="internal-links flex items-center">
			<HeaderLink href="/">Home</HeaderLink>
			<Icon name="slash" width={20} height={20} />
			<HeaderLink href="/projects">Projects</HeaderLink>
			<Icon name="slash" width={20} height={20} />
			<HeaderLink href="/blog">Blog</HeaderLink>
			<!-- <HeaderLink href="/contact">Contact</HeaderLink> -->
		</div>
	</nav>
</header>