---
const { tags } = Astro.props

import { slugify, beautify, capitilize } from "../utils"

interface Props {
    tags: string[]
}
---

<div class="flex gap-1">
    {
        tags.map((tag: string, index: number) => (
            <div>
                <a
                    class={`px-2 text-sm py-1 ${
                        index % 2 === 0
                            ? "text-stone-700 dark:text-stone-300 border-gray-800"
                            : "bg-gray-800 text-stone-300 dark:bg-gray-200 dark:text-stone-700 border-gray-800 dark:border-gray-200"
                    }  border rounded-lg`}
                    href={`/blog/tags/${slugify(tag)}`}
                >
                    #{beautify(slugify(tag))}
                </a>
            </div>
        ))
    }
</div>
