---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
import "../styles/base.css"

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead {title} {description} />
        <ViewTransitions />
    </head>
    <body class="bg-body">
        <div class="flex flex-col h-dvh container mx-auto px-4 text-zinc-800 dark:text-gray-300">
            <Header {title} classes="my-4" />
            <slot />
            <Footer classes="mt-auto my-4 pt-10" />
        </div>
    </body>
</html>

<script>
    import "../ts/darkModeSwitcher"
</script>
