---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
import "../styles/base.css"

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <BaseHead {title} {description} />
        <ViewTransitions />
    </head>
    <body class="bg-body">
        <div class="flex flex-col h-screen md:container md:mx-auto mx-auto px-4 text-zinc-800 dark:text-gray-300">
            <Header {title} classes="my-4" />
            <slot />
            <Footer classes="mt-auto my-4" />
        </div>
    </body>
</html>

<style>
    body {
        color: rgb(209, 213, 219);
    }
</style>